version: "3.8"

services:
  api:
    build: .
    container_name: pbmarket_api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file:
      - .env
    restart: always

  postgres:
    image: postgres:16
    container_name: pbmarket_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
